/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E1F5FE; /* Soft Sky Blue */
    color: #333;
    line-height: 1.6;
}

/* Style for the navigation bar */
#navbar {
    background-color: rgb(115,162,182); /* Sky blue background */
    padding: 10px 20px;
}

/* Remove default list styling */
#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Evenly space the links */
    margin: 0;
    padding: 0;
}

/* Style individual list items */
#navbar ul li {
    margin: 0;
}

/* Style for the links */
#navbar ul li a {
    text-decoration: none;
    color: white; /* White text for the links */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: block; /* Ensures the entire clickable area is filled */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}

/* Hover effect */
#navbar ul li a:hover {
    background-color: #085675; /* Slightly darker sky blue on hover */
    border-radius : 5px; /* Rounded corners on hover */
    color: #ffffff; /* Keep text white */
}

/* Optional: Style the active or selected link */
#navbar ul li a.active {
    background-color: #4682b4; /* Darker blue for the active link */
    border-radius: 5px;
}


/* Header Styling */
header {
    background-image: linear-gradient(to right, rgb(115,162,182,0.5), rgb(115,162,182, 1));
    color: #FFF;
    text-align: center;
    padding: 80px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

header p {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}

.header-content {
    margin-top: 10px;
}

/* Main Content Sections */
main {
    padding: 40px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0288D1; /* Sky Blue Text for Headings */
    text-align: center;
    position: relative;
}

h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #357c9c;
    margin: 10px auto 0;
}

p {
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
    margin-bottom: 30px;
}

/* Footer Styling */
footer {
    background-color: rgb(115,162,182);
    color: #FFF;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}
